language: groovy
sudo: required
jdk:
  - oraclejdk8
install: true
before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
before_install:
  - chmod +x gradlew
before_script:
  - ./gradlew --version
script: travis_wait 90 ./gradlew test jacocoTestReport
after_success:
  - ./gradlew coveralls
